<div class="social-icons" style="margin-bottom: 1rem;">
  {% for social in site.data.settings.social %}
    <a href="{{ social.link }}" target="_blank">
      <i class="{{ social.icon }}"></i>
    </a>
  {% endfor %}
</div>
<div class="col-md-6">
  {% for contact in site.data.settings.contacts %}
    <p style="margin-top: 0.5rem; margin-bottom: 0.3rem;">{{ contact.department }}</p>
    <p style="margin-bottom: 0.3rem;">{{ contact.institution }}</p>
    <p style="margin-bottom: 0.3rem;">{{ contact.institution_address }}</p>
    <p style="margin-bottom: 0.3rem;">Email: {{ contact.email }}</p>
    <p style="margin-bottom: 0.3rem;">Phone: {{ contact.phone }}</p>
  {% endfor %}
</div>
