---
layout: default
---

{{ content }}

<div class="row g-2 mb-2">
  <div>
    <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 5px; margin-bottom: 20px;">
      <h3 class="fw-bold">CV</h3>
      <a href="/assets/CV/cv.pdf" target="_blank" style="font-size: 1rem; text-decoration: none; font-weight: bold; display: flex; align-items: center;">
          📄 Access the detailed CV here.
      </a>
  </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <div class="education-item" style="margin-bottom: 0.5rem;">
            <div class="fw-bold" style="line-height: 0.5;">{{ section.title }}</div>
            <div style="line-height: 0.5;">{{ section.description }}</div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.teaching-experience %}
          <p class="fw-bold" style="margin-bottom: 0;">{{ section.title }}</p>
          <p style="margin-top: 0.05rem;">{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
